body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu {
	background-color: #6c6;
	width: 4em;
	display: flex;
	flex-direction: column;
	height: 100%;
}
#menu .toolbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: stretch;
}
#menu .toolbox * {
	flex-grow: 2;
}
#menu button {
	padding: 0.5em;
	border: 1px solid #393;
}
#menu button.selecionado {
	background-color: #9f9;
}
#menu hr {
	margin: 2px;
	border: 1px solid #393;
	border-bottom: none;
	border-right: none;
}

#workspace {
	background-color: #EEE;
	width: calc(100% - 4em);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 4em;
	overflow: scroll;
}

div.elemento {
	background-color: #FFF;
	border: 1px solid #393;
	box-shadow: 1px 1px 4px #0004;
	
	position: absolute;
	width: 200px;
	height: 100px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	-webkit-user-select: none;
	user-select: none;
}

div.atributo {
	display: flex;
	align-items: center;
	justify-content: center;
	
	-webkit-user-select: none;
	user-select: none;
	
	position: absolute;
	& .icone {
		width: 10px;
		height: 10px;
		margin: 0px 5px;
		border-radius: 10px;
		background-color: #FFF;
		border: 1px solid #393;
		box-shadow: 1px 1px 4px #0004;
		&.primario {
			background-color: #393;
			& + .texto {
				font-weight: bold;
			}
		}
	}
	& .texto {
		text-shadow: 1px 1px 4px #0004;
	}
}

div.organizador {
	display: flex;
	align-items: center;
	background-color: #F00;
	flex-wrap: wrap;
	position: absolute;
	& .atributo {
		position: static;
	}
}